@use "@/app/utils";

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 1rem;
    overflow: hidden;

    &.open {
        .content {
            width: var(--sidebar-width);
            padding: 3rem 2rem;
        }
    }

    &.closed {
        width: 0;
        padding: 3rem 0;
    }

    .content {
        height: 100%;
        padding: 3rem 2rem;

        @include utils.glass;

        .title {
            font-size: 1.5rem;
            font-weight: 700;
        }
    }
}
