@use "@/app/utils";

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
    width: var(--sidebar-width);
    padding: 1rem;

    .content {
        height: 100%;
        padding: 3rem 1rem;

        @include utils.glass;

        .title {
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: 2rem;
            padding-inline: 1rem;
        }

        .pages {
            .page {
                &:hover {
                    background-color: var(--primary-light);
                    color: var(--primary);
                    border-radius: 22px;
                }

                a {
                    display: flex;
                    align-items: center;
                    height: 44px;
                    width: 100%;
                    padding-inline: 1rem;
                    font-weight: 500;
                }
            }
        }
    }
}
