.home {
    color: var(--color);

    h2 {
        margin-bottom: 1rem;
    }

    .section {
        margin-bottom: 2rem;

        h3 {
            margin-bottom: 1rem;
        }

        .content {
            height: 500px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgb(251, 213, 208);
            color: rgb(253, 106, 90);
            font-weight: 900;
        }
    }
}
